@font-face {
  font-family: "dancing";
  src: url("src/assets/fonts/DancingScript-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

#tv-attr-logo,
a[href*="https://www.tradingview.com/?utm_medium=lwc-link&utm_campaign=lwc-chart&utm_source=localhost/"]
{
  display: none !important;
}

img[src*="tradingview"] {
  display: none !important;
}

.tv-lightweight-charts {
  border-radius: 10px !important;
}

input[type="checkbox"].custom-checkbox {
  position: relative;
}

input[type="checkbox"].custom-checkbox:checked::after {
  content: "✓";
  color: white;
  position: absolute;
  top: -1px;
  left: 3px;
  font-size: 12px;
}

/* .absolute {
  position: absolute !important;
} */

.font-dancing-bold {
  font-family: "dancing";
  font-weight: 900;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.my-scroll {
  overflow-y: auto; /* bật scroll dọc */
}

.my-scroll::-webkit-scrollbar {
  width: 4px; /* độ rộng thanh cuộn */
}

.my-scroll::-webkit-scrollbar-track {
  background: transparent; /* nền track */
}

.my-scroll::-webkit-scrollbar-thumb {
  background: #888; /* màu thanh kéo */
  border-radius: 4px;
}

.my-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* màu khi hover */
}

button,
div.animate {
  transition: background-color 0.5s ease, color 0.5s ease,
    border-color 0.5s ease;
}

.ant-picker-input {
  height: 32px !important;
  width: 156px !important;
}

.ant-picker-outlined {
  border-color: #0000000d !important;
}

.ant-space-item {
  box-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

.ant-picker .ant-picker-suffix svg path {
  fill: black;
}

.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-q7uqvy).ant-picker-outlined:hover {
  border-color: var(--color-background) !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(
    .ant-picker-cell-disabled
  ):before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  ):before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  ):before {
  background-color: var(--color-background-opacity-2) !important;
}

.Toastify__toast {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 5px var(--color-background-opacity-5) !important;
  width: 400px;
}

.shadow-custom {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 5px var(--color-background-opacity-5) !important;
}

.Toastify__close-button{
  color: var(--color-background) !important;
  opacity: 1;
}
